{% extends "landLordBase.html" %}

{% block title %}Landlord - Home{% endblock %}

{% block content %}

<p>First Name: {{ landLord['First Name'] }}</p>
<p>Last Name: {{ landLord['Last Name'] }}</p>
<p>Email: {{ landLord['Email'] }}</p>
<p>Password: {{ landLord['Password'] }}</p>
<p>Phone #: {{ landLord['Mobile #'] }}</p>
<p>Username: {{ landLord['Username'] }}</p>

<form action={{ url_for('changeAvatar')}} method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="submit" value="Upload">
</form>

<div class="imageWrapper">
    <img src="../{{landLord['profileImage']}}">
</div>

{% endblock %}