{% extends "landLordBase.html" %}

{% block title %}Landlord - unresolved Property Issues{% endblock %}

{% block content %}

<p>property issues</p>

{% for key, value in propertyIssues.items() %}
    {% set property = value[0] %}
    {% set propertyIssues = value[1] %}

    <h3>Property Street Address: {{property['Street']}}</h3>

    {% if propertyIssues|length == 0 %}
        <p>No issues found</p>

    {% else %}
        <ol>
            {% for propertyIssue in propertyIssues %}
            <li>
                <form action={{ url_for('handlePropertyIssueResolving')}} method="post"
                    <p><b>Issue Description: </b> {{propertyIssue['Issue Description']}}<p>
                    <p><b> Priority: </b> {{propertyIssue['Priority']}}<p>
                    <p><b> Submitted By: </b> {{propertyIssue['Submitted By Tenant']}}<p>
                    <p><b>Resolved: </b> {{propertyIssue['Resolved']}}</p>
                    <p><b> Image of Issue: </b> <p>
                    <div class="imageWrapper">
                        <img src="../{{propertyIssue['Image Absolute Path']}}">
                    </div>
                    <input type="hidden" name="propertyIssueId" value = "{{propertyIssue['_id']}}">
                    <input type="submit" value="Resolve Issue">
                </form>
            </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endfor %}

{% endblock %}