{% extends "tenantBase.html" %}
{% block title %}Tenant - Home{% endblock %}
{% block content %}
<p>First Name: {{ tenant['First Name'] }}</p>
<p>Last Name: {{ tenant['Last Name'] }}</p>
<p>Username: {{ tenant['Username'] }}</p>

<form action={{ url_for('changeAvatar')}} method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="submit" value="Upload">
</form>

<div class="imageWrapper">
    <img class="profileImage" src="../{{tenant['profileImage']}}">
</div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>First Name: {{ tenant['First Name'] }}</p>
    <p>Last Name: {{ tenant['Last Name'] }}</p>
    <p>Username: {{ tenant['Username'] }}</p>

    <form action = {{ url_for('changeAvatar')}} method = "post" enctype="multipart/form-data">  
        <input type="file" name="image" />  
        <input type = "submit" value="Upload">  
    </form>  

    <img src="../{{tenant['profileImage']}}">
</body>
</html> -->